@model IEnumerable<eAdministrationLabs.Models.Computer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssetTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specifications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lab)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetTag)
                </td>
                <td>
                    <select class="form-control status-select" data-id="@item.Id" style="color: #000000;">
                        <option value="Working" style="color: #000000;">Working</option>
                        <option value="Out of Order" style="color: #000000;">Out of Order</option>
                        <option value="In Use" style="color: #000000;">In Use</option>
                    </select>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specifications)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lab.LabName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".status-select").change(function () {
                var status = $(this).val();
                var id = $(this).data("id");

                $.ajax({
                    url: '@Url.Action("UpdateStatus")',
                    type: 'POST',
                    data: {
                        id: id,
                        status: status
                    },
                    success: function (result) {
                        // Optionally, you can show a success message or refresh the page
                    },
                    error: function () {
                        alert("An error occurred.");
                    }
                });
            });
        });
    </script>
}
