@model IEnumerable<eAdministrationLabs.Models.Lab>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p class="text-end">
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table" style=" border: 1px solid #e5e5e5;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LabName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusLab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LabName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusLab.StatusName)
                @* <select class="form-control status-select" data-id="@item.Id" style="color: #000000;">
            @foreach (var status in ViewBag.StatusOptions)
            {
            <option value="@status.Id" style="color: #000000;">
            @status.StatusName
            </option>
            }
            </select> *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>

            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit" style="font-size:1em;"></i>
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                        <i class="fas fa-info-circle" style="font-size:1em;"></i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt" style="font-size:1em;"></i>
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>

 @* @section Scripts {
     <script>
         $(document).ready(function () {
             $(".status-select").change(function () {

                 var id = $(this).data("id");
                 var statusId = $(this).val();

                 $.ajax({
                     url: '@Url.Action("UpdateStatus")',
                     type: 'POST',
                     data: {
                         id: id,
                         statusId: statusId
                     },
                     success: function (result) {
                         alert("Status update successful.");
                     },
                     error: function () {
                         alert("There was an error updating status.");
                     }
                 });
             });
         });
     </script>
 } *@