@using eAdministrationLabs.Models;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<dynamic>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@* @model IEnumerable<dynamic> *@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="mb-4">User Roles</h1>

<!-- Nút tạo mới -->
<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Bảng hiển thị thông tin User và các Role -->
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>User</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.Roles</td> <!-- Hiển thị chuỗi Role -->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="margin-top: 5vh;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string> { "page-item" },
    PageClasses = new List<string> { "page-link" }
})
</div>