@* @model IEnumerable<eAdministrationLabs.Models.EquiLab> *@
    @using X.PagedList;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<EquiLab>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p class="text-end">
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table" style=" border: 1px solid #e5e5e5;">
    <thead>
        <tr>
            <th>
                Equipment
            </th>
            <th>
               Lab
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.NameEquipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lab.LabName)
            </td>
            
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit" style="font-size:1em;"></i>
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                        <i class="fas fa-info-circle" style="font-size:1em;"></i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt" style="font-size:1em;"></i>
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>

<div style="margin-top: 5vh;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string> { "page-item" },
    PageClasses = new List<string> { "page-link" }
})
</div>  