@model IEnumerable<eAdministrationLabs.Models.HistoryRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChangedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.Id)
            </td>
            <td>
                <select class="form-control status-select" data-id="@item.Id" style="color: #000000;">
                    @foreach (var status in ViewBag.StatusOptions)
                    {
                        <option value="@status.Id" style="color: #000000;">
                            @status.StatusName
                        </option>
                    }
                </select>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".status-select").change(function () {

                var id = $(this).data("id");
                var statusId = $(this).val();

                $.ajax({
                    url: '@Url.Action("UpdateStatus")',
                    type: 'POST',
                    data: {
                        id: id,
                        statusId: statusId
                    },
                    success: function (result) {
                        alert("Status update successful.");
                    },
                    error: function () {
                        alert("There was an error updating status.");
                    }
                });
            });
        });
    </script>
}